<% genres.each do |genre| %>               
    <tr data-genre-id="<%= genre.id %>">
        <td><%= genre.name %></td>
        <td>
        <% genre.restos.each do |r| %>
            <span data-resto-id="<%= r.id %>"> <%=r.name %> &nbsp </span>
            <% end %>
        </td>
        <td>TODO</td>
    </tr>
<% end %>