 <% if  @genre.errors.any? %>
    console.log("1")
     document.querySelector("#new_genre").remove();
     document.getElementById('insert-form-genre').insertAdjacentHTML('beforeend', `<%= j render  'genres/form_new_genre', genre: @genre %>`);

<% else %> 
    console.log("2")
    document.querySelector('#form_resto_genre').reset();
    document.querySelector('#resto_genre_id').insertAdjacentHTML('afterbegin',`<option value="<%=  @genre.id %>" selected="selected"><%=  @genre.name %> </option>`);
    document.getElementById("tb-genres").insertAdjacentHTML("afterbegin",`<%= j render  "genres/row", genre: @genre %>`);
    document.getElementById('insert-form-genre').innerHTML="";
<% end %>