// console.log("here")
// if (true) {console.log("stop")}
// if (true <%#= @genre.errors.any? %>) {
//     document.querySelector("#new_genre").remove()
// }
    // document.getElementById('new_form_genre').insertAdjacentHTML(
            // 'beforeend',
            // `<%#= j render 'genres/form_new_genre', genre: @genre %>`)
} 

// if (false <%#= @genre.errors.any? %>) {}
    // update the select list
    // document.querySelector('#form_resto_genre').reset()
    // document.querySelector('#resto_genre_id').insertAdjacentHTML(
    //     'afterbegin',
    //     `<option value="<%#= @genre.id %>" selected="selected"><%#= @genre.name %> </option>`
    // )

    // document.querySelector('#tb-genres').insertAdjacentHTML(
    //     'beforeend',
    //     `<%#= j render 'genres/row', genre: @genre %>`
    // )
    // document.getElementById('new_genre').reset()
// }