document.getElementById('nested-4').insertAdjacentHTML('afterbegin',`<%= j render 'genres/nested_dyn_form', genre: @genre %>`)
document.getElementById("addNestedComment").onclick = dynAddNestedComment();


function dynAddNestedComment() {
  document.getElementById("addNestedComment").addEventListener("click", (e) => {
      console.log("ici")
    e.preventDefault();
    const arrayComments = [...document.querySelectorAll("fieldset")];
    console.log(arrayComments)
    const lastId = arrayComments[arrayComments.length - 1];
    console.log(lastId)
    const newId = parseInt(lastId.dataset.fieldsId, 10) + 1;
    console.log(newId)
    document.querySelector("#submit-nested").insertAdjacentHTML(
      "beforebegin",
      `
      <fieldset data-fields-id="0">
        <div class="form-group string optional genre_restos_comments_comment">
          <label class="string optional" for="genre_restos_attributes_0_comments_attributes_${newId}_comment">Add a comment</label>
          <input class="form-control string optional" type="text" name="genre[restos_attributes][0][comments_attributes][${newId}][comment]" id="genre_restos_attributes_0_comments_attributes_${newId}_comment">
        </div>
            
        <div class="form-group string optional genre_restos_comments_client_name">
          <label class="string optional" for="genre_restos_attributes_0_comments_attributes_${newId}_client_attributes_name">Join client's name</label>
          <input class="form-control string optional" type="text" name="genre[restos_attributes][0][comments_attributes][${newId}][client_attributes][name]" id="genre_restos_attributes_0_comments_attributes_${newId}_client_attributes_name">
        </div>
        </fieldset>
       `
    );
  });
}
