   
document.querySelector('[data-resto-id="<%= @resto.id%>"]').remove()

document.querySelector('[data-genre-id="<%= @genre_after.id%>"]')
    .children[1]
    .insertAdjacentHTML(
        'beforeend',
        `<span tabindex="0" draggable="true" class="genre_tag" data-resto-id="<%= j @resto.id%>"> <%= j @resto.name %> </span>`
    )
