/* https://coolors.co/28262c-998fc7-d4c2fc-f9f5ff-14248a */
/* RGB */
$color1: rgb(110, 98, 135);
/* Raisin black  +color: white */
$color2: rgb(94, 172, 92);
/* Blue bell + color: white */
$color3: rgba(212, 194, 252, 1);
/* Lavender blue + color: black */
$color4: rgb(239, 233, 249);
/* Magnolia + color: black */
$color5: rgb(30, 53, 198);
/* Resolution blue + color: white */

$color6: rgb(42, 108, 179);
$color7: rgba(235, 235, 211, 1);
$color8: rgba(244, 211, 94, 1);
$color9: rgba(238, 150, 75, 1);
$color10: rgb(223, 145, 129);