if (<%= @resto.errors.any? %>) {
    console.log("error")
    //document.querySelector("#new_resto").remove()
    //document.getElementById('new_resto_on_the_fly')
    const myDiv = document.getElementById('new_resto_on_the_fly')
    myDiv.innerHTML = ""
    myDiv.insertAdjacentHTML(
            'beforeend',
            `<%= j render 'comments/form_resto_fly' %>`
        )
} else {
    console.log("ok")
    if (document.querySelector('#comment_resto_id')) {
        document.querySelector('#comment_resto_id').insertAdjacentHTML(
            'afterbegin',
            ` <option value="<%#=@resto.id%>"> <%#= @resto.name %></option>`
        )
        document.querySelector('#new_comment').reset()
    }
    document.querySelector('#new_resto_on_the_fly').innerHTML = ""
 }


