<div class="container">
    <ul>
        <li>
            <h1><%= link_to 'Editable table on the fly and dynamic nested forms', restos_path,
            class:"badge" %></h1>
        </li>

        <li>
            <h1><%= link_to 'Ajax Pagination with Kaminari, Ajax associated model, add on the fly in a Select ', comments_path, class:"badge" %></h1>
        </li>

        <li>
            <h1><%= link_to 'Dynamic Nested Form', new_nests_path, class:"badge" %></h1>
        </li>

    </ul>
</div>






