/* https://coolors.co/28262c-998fc7-d4c2fc-f9f5ff-14248a */
/* RGB */
$color1: rgba(40, 38, 44, 1);
/* Raisin black  +color: white */
$color2: rgba(153, 143, 199, 1);
/* Blue bell + color: white */
$color3: rgba(212, 194, 252, 1);
/* Lavender blue + color: black */
$color4: rgb(239, 233, 249);
/* Magnolia + color: black */
$color5: rgba(20, 36, 138, 1);
/* Resolution blue + color: white */