.genre_tag {
    color: black;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid;
}

.cornsilk {
    background-color: cornsilk;
}

.raisin {
    background-color: rgb(91, 89, 94);
}

.bluebell {
    background-color: rgba(153, 143, 199, 1);

}

.lavender {
    background-color: rgba(212, 194, 252, 1);

}

.magnolia {
    background-color: rgb(239, 233, 249);
}

.deepblue {
    background-color: rgb(102, 115, 201);
}