// Place all the styles related to the Nests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#myform {
    position: relative;
}

#submitBtn {
    position: absolute;
    bottom: -50px;
}

td,
th {
    text-align: center;
}