// Place all the styles related to the Restos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#new_resto {
    position: relative;
}

#submit-form {
    position: absolute;
    bottom: -30px;
    right: 10px;
}

.resto_tag {
    color: black;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid;
}

#i-search {
    position: absolute;
    right: 15px;
    top: 15px;
}

/*
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}


.icon {
    padding: 10px;
    min-width: 40px;
}
*/
.input-field {
    position: relative;
    padding: 10px;
    /*text-align: center;*/
}